@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;1,100;1,200;1,400&display=swap');

html,
body {
    height: 100%;

}

body {
    margin: 0;
    display: flex;
    flex-flow: column;
}

.wrap-element {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #10141F;
    position: relative;
    flex-wrap: wrap;
    float: left;
}

.wrap-element .menu-app {
    width: 25%;
    height: 45%;
    color: aliceblue;
    justify-content: flex-start;
    /* border: 3px solid green; */
    background: #10141F;
}

.wrap-element .menu-app .menu {
    align-content: flex-end;

}

.wrap-element .menu-app ul li a {
    display: flex;
    padding: 13px 30px;
    /* border-bottom: 1px solid #10558d; */
    color: rgb(241, 237, 237);
    font-size: 16px;

}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    flex-direction: column;
}

.wrap-element .menu-background {
    display: flex;
    width: 75%;
    height: 45%;
    justify-content: flex-start;
    align-items: center;
    /* padding-left: 5%; */
    /* background: #1245d3; */
    position: sticky;
    background: url('../asset/image/Rectangle_24_bg.png');
}

.song-background {
    width: 25%;
    height: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #10141F;
    flex-direction: column;
}

.song-background .song-detail {
    padding-right: 40%;

}

.song-background .song-detail p {

    color: aliceblue;
    height: 5%;
    flex-direction: column;
    align-items: center;
    font-family: Inconsolata;
}

.song-img {
    /* position: absolute; */
    left: 13%;
    /* justify-content: center; */

    top: 15%;
    height: 85%;
    width: 75%;

    /* background: url('../asset/image/Rectangle_21.png') */
}


.wrap-element .list-song {
    width: 75%;
    height: 35%;
    display: flex;
    background: #10141F;
    align-items: flex-start;
    justify-content: space-evenly;

}

.list-song p {
    margin-bottom: 10%;
    color: white;
    width: 14%;
    font-family: Montserrat;
}


.square {
    height: 3%;
    width: 94%;
    top: 5%;
    border-radius: 1px;
    margin-left: 3%;
    margin-top: 3%;
    background: white;
}

.small-image {
    width: 25%;
    height: 40%;
    margin-left: 5%;
    margin-top: 15%;
    /* background: #1dd009e3; */
    /* position: absolute; */
    background: url('../asset/image/Rectangle_25.png');
    border-radius: 12px;
}

.volume-player {
    width: 20%;
    height: 65%;
    margin: 1% 5% 5% 77%;
    background-color: #10141F;
    position: absolute;
}

.music-player {
    width: 20%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #10141F;
}

.song-task-bar {
    width: 100%;
    height: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #10141F;
    position: relative;
}

.song-task-bar #music-player {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.previous-song {
    border-radius: 75%;
    height: 55%;
}

.pause {
    border-radius: 75%;
    height: 55%;
}

.next-song {
    border-radius: 75%;

    height: 55%;
}

.music-player button {
    border-radius: 75%;
    background-color: aliceblue;
    height: 55%;
}